#history{
    font-weight: bold;
}

#tablediv{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    justify-content: space-between;
}

#purposecolumn{
    width: 600px;
}

#dodcolumn{
    width: 200px;
}

#dorcolumn{
    width: 200px;
}

#statuscolumn{
    width: 128px;
}

#topic{
    font-weight: bold;
    color: #6c6c6c;
    margin-bottom: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}