#maindiv {
    display: flex;
    flex-direction: column;
    align-items:center;
}

#formelementdiv{
    display: flex;
    flex-direction: column;
}

#forminputlabel{
    font-weight:550;
    font-size:smaller;
    font-size: medium;
    margin-bottom: 8px;
}

#formdiv{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 420px;
    margin-left: 20rem;
}

#formelementdiv{
    margin-bottom: 20px;
    margin: 40px;
    flex-wrap: wrap;
}

#forminput{
    width: 280px;
    height: 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    font-family: montserrat;
}

#formdiv1{
    display: flex;
    flex-direction: row;
}

#formdiv2{
    display: flex;
    flex-direction: row;
}

#formdiv3{
    display: flex;
    flex-direction: row;
    align-items:center;
}

#submit{
    width: 100px;
    height: 36px;
    margin-top: 24px;
    margin-left: 40px;
    background-color: #388087;
    color: white;
    font-weight:bold;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#outpass{
    font-weight: bold;
}



